* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.left {
    display: flex;
}

.content-menu {
    display: flex;
}

.content-menu li {
    font-size: 25px;
    margin-left: 25px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    margin-left: 30px;

    object-fit: contain;
}

.search {
    height: 40px;
    width: 380px;
    border-style: solid;
    border-radius: 7px;
    font-size: 20px;
}

a,
ul {
    text-decoration: none;
    list-style: none;
}

.container {
    margin: 25px 170px 20px 170px;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rate-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-rate {
    display: flex;
    align-items: center;
}

.right-rate {
    display: flex;
    align-items: center;
}

.gird-content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.gird-content img {
    width: 100%;
}

.gird-content2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.product-desreption {
    display: grid;
    grid-template-columns: 65% 35%;
}

.content-pro p {
    font-size: 25px;
    margin-right: 15px;
}

.info {
    display: flex;
}

.info span {
    font-size: 20px;
}

.buy-add {
    margin: 15px;
    width: 450px;
    height: 500px;
}

.secl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secl select {
    font-size: 20px;
    margin-top: 10px;
    height: 40px;
    width: 370px;
    border-radius: 5px;
    background-color: rgb(177, 173, 173);
}

.total {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: rgb(15, 21, 21);
    border-color: rgb(0, 0, 0);

}

.buy {
    color: aliceblue;
    background-color: rgb(30, 54, 54);
}

.btn button {
    font-size: 20px;
    width: 370px;
    height: 43px;
    text-align: center;
    border-radius: 7px;
}

.buy-add {
    border: 1px solid rgb(231, 222, 222);
    margin-left: 123px;
}

.product-desreption {

    border-bottom: 2px solid grey;
}

.review {
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    display: flex;
}

.gird-reviews {
    display: flex;
    grid-template-columns: 50% 50%;
    gap: 30px;
    row-gap: 15px;
}

.info-user {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.related {
    margin-top: 40px;
    border-bottom: solid 2px grey;
}

.rela-content {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.see {
    font-size: 25px;
    color: grey;
}

.gird-related {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 15px;
    margin-bottom: 100px;
}

.pro-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gird-related p {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
    font-size: 30px;
    font-weight: bold;
    color: aqua;
}

.logo-sup-gmail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {}
.content-footer
 {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-footer ul li{
    margin: 14px 0 14px 0;
    font-size: 20px;
}
.footer-contact{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contact img
{
    margin-left: 15px;
    object-fit: contain;
}
