.header-container{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    justify-content: space-around;
}
.left-item{
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 100%;
    margin: 0px 5px ;
    padding: 0 10px;
}
.right{
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.right-item{
    display: flex;
    justify-content: space-between;
    height:auto;
    margin:  0px 1px;
    padding: 0 10px;
}
.container{
    margin: 0px 120px;
    padding: 35px 0px ;
}
.title{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}
.title-wide{
    display: flex;
    align-items: center;
}
.title-products{
    margin-top: 15px;
    font-size: 20px;
}
.title-Evaluate-left{
    display: flex;
    justify-content: flex-start;
}
.title-Evaluate-right{
    display: flex;
    justify-content: flex-end;
    align-items:end;

} 